<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <title>Dark mode and cookies</title>
    <link rel="stylesheet" href="./public/css/style.css" />
  </head>
  <body>
    <h1 class="h1specification"> Dark mode and cookies </h1>
    {% block content %}
    {% endblock %}
  </body>
</html>
